*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.form-container .form-group{
    width: 400px;
    height: 450px;
    /* border: 2px solid red; */
    background: rgb(255, 255, 255, 0.2);
    border: 2px solid rgb(255, 255, 255, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-group .input-form input{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgb(255, 255, 255, 0.5);
    padding: 5px;
    background: rgb(255, 255, 255, 0.2);
    color: #fff;
}
.form-group .input-form input::placeholder{
    color: #fff;
}
form .input-form{
    margin: 10px 0;
}
@media only screen and (max-width:375px) {
    .form-container .form-group{
        width: 300px;
    }
    .form-group .input-form input{
        width: 250px;
    }
}
